# .gitignore
venv/
__pycache__/
*.pyc
*.pyo
jeopardy/data/seasons/
jeopardy/data/images/
jeopardy/data/other_data/
jeopardy/data/*.tsv
opentdb/data/*
sql/credentials.py
.env
jeopardy/data/categories/normalized.csv
jeopardy/stragglers.csv
jeopardy/fixed_categories.jsonl
jeopardy/extras.json
jeopardy/extracted.json
